CMR STAC expecting bbox commas to not be urlencoded

Steps to reproduce:
1. open https://radiantearth.github.io/stac-browser/#/external/cmr.earthdata.nasa.gov/stac/LPCLOUD/collections/EMITL1BRAD.v001
2. Do spatial filter generates an error like:
<img width="1183" alt="image" src="https://user-images.githubusercontent.com/865819/222021428-6c9fa820-0fa3-4b4a-ba33-1dc796495d1c.png">

Request URL is: `https://cmr.earthdata.nasa.gov/stac/LPCLOUD/collections/EMITL1BRAD.v001/items?limit=12&bbox=-85.81507471564723%2C-49.38237278700955%2C-47.846324715647214%2C-26.43122806450644`

A version with commas works:
https://cmr.earthdata.nasa.gov/stac/LPCLOUD/collections/EMITL1BRAD.v001/items?limit=12&bbox=-85.81507471564723,-49.38237278700955,-47.846324715647214,-26.43122806450644

This is also an issue with pystac_client. Unfortunately, I think this impacts all of CMR STAC API. Not sure what the best course of action to would be.

As far as I understand RFC 3986, section 2, commas must be URI encoded and as such the only course of action seems to be to fill a bug report with NASA for their CMR implementation. Please correct me if I'm wrong.

Sounds right to me. I reached out to them by email, suggesting they unencode the GET values. However, if they do not address it, I suppose CMR will never work with STAC Browser. I'll just hope for the best then!